# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o
*.a

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
.libs/
*.lo
*.m4
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
autom4te.cache/
doc/
.deps/
.dirstamp

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode
.idea

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# macOS files
.DS_Store

# models and data
models/
data/
videos/
images/
results/
tmp/
input.s16
features.f32
data.u8
*.pcm
*.wav
*.bin

# compiled programs

# misc
Pipfile
Pipfile.lock

# Other stuff
Makefile
Makefile.in
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
dump_data
install-sh
liblpcnet.la
libtool
lpcnet-uninstalled.pc
lpcnet.pc
lpcnet_data-90ea887.tar.gz
lpcnet_demo
ltmain.sh
missing
package_version
src/ceps_codebooks.c
src/nnet_data.c
src/nnet_data.h
stamp-h1
